body {
  background-image: url('background.png');
  opacity: 1;
}

h1 {
  text-align: center;
  float: top;
}

header {
  text-align: justify;
}

li  {
  padding: 5px;
}

#bio, #education, #twitter {
  width: 300px;
  height: 400px;
  float:left;
  overflow: hidden;
}

h3 {
  text-align: center;
}

#footer {
  height: 75px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
  align-items:baseline;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 130px;
  align-items: baseline;
}
