body {

background-image: url('background.png');

}
img {



}
h1 {
  text-align: center;
  float: top;
}

header{
  outline: 1px black solid;

}

section{
text-align: center;
  outline: 1px black solid;
width: auto;
}

footer{
text-align: center;
align-items: flex-end;
outline: 1px black solid;
height: 50px
}

li{
list-style-position: inside;

}
